@media (max-width:1000px) {
    .hobi-hobiku {
        flex-wrap: wrap;
    }

    .hobi {
        width:50%;
    }

    .txt {
        margin: 20px 0 50px 0;
    }
    
    .atas h1 {
        font-size: 40px;
    }
}

@media (max-width:670px) {
    .hobi-hobiku {
        flex-direction: column;
    }

    .hobi {
        margin:0 auto;
    }

    .txt {
        margin: 20px 0 60px 0;
    }

    .list-header li {
        display: none;
    }

    .burger {
        display: block;
    }

    .atas h1 {
        font-size: 30px;
    }
    
    .wadah-1 p {
        font-size: 10.5px;
        line-height: 16px;
    }

    .wadah-1 {
        width:420px;
    }

    .heading h1 {
        font-size: 30px;
    }

    .heading p {
        width:320px;
        font-size: 15px;
    }

    .container-bawah h1 {
        font-size: 30px;
    }

    .container-bawah {
        padding: 15px;
    }

    .btn {
        width: 80%;
        transition: ease-out 0.6s;
    }

    .btn:hover {
        box-shadow: inset 0 50px 0 0 #f9c506;
    }
}
