@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: black;
    color:white;
    height: 65px;
    width: 100%;
    position: fixed;
    top:0;
    z-index:10;
}

.logo {
    float: left;
    line-height: 65px;
    padding: 0px 40px;
    font-weight: 800;
    cursor: default;
}

.list-header li {
    float: left;
    line-height: 65px;
    margin: 0 20px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
}

.list-header a {
    color: #dbdad6;
    padding: 7px 15px;
    border-radius: 5px;
}


.list-header a:hover {
    background-color:#dbdad6;
    transition: 0.5s;
    color: #202020;
}

.container {
    width:100%;
    margin:0 auto;
}

.atas {
    background-color: #202020;
    padding: 120px 0 75px 0;
    color: ghostwhite;
    text-align: center;
    width: 100%;
}

.atas h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:900;
    font-size: 60px;
}

.atas span {
    color: crimson;
}

.foto-ryan {
    border-radius: 30px;
    margin: 25px 0 0 0;
    width: 250px;
}

.wadah-1 {
    width: 500px;
    margin:0 auto;
}

.foto-text p {
    position: relative;
    top: -50px;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px #202020;
}

.atas p {
    margin: 10px 0 0 0;
    font-size: 14px;
    padding: 0 40px 0 40px;
}

.wadah-1 p {
    margin:0;
}

.atas button {
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgb(255, 0, 68);
    color: ghostwhite;
    margin: 20px 0 0 0;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9c056;
    transition: ease-out 0.3s;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 600;
}

.atas button:hover {
    box-shadow: inset 100px 0 0 0 #f9c506;
    cursor: pointer;
    color: black;
}

.tengah {
    background-color: #dbdad6;
    text-align: center;
    padding-bottom: 70px;
}

.heading h1 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -2px;
    padding: 70px 0 10px 0;
}

.heading p {
    width:500px;
    margin:0 auto;
    padding: 0 0 40px 0
}

.hobi img {
    width: 120px;
}

.hobi-hobiku {
    display: flex;
}

.hobi {
    flex:auto;
}

.txt {
    margin: 20px 0 0 0;
    font-size: 20px;
}

footer {
    height: 65px;
    background-color: #202020;
    width: 100%;
}

.kiri img {
    width: 20px;
    margin: 22px 5px 0 30px;
    float: left;
}

.kiri p {
    color:#dbdad6;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 22px 0 0 5px;
}

.kiri {
    float:left;
}

.kanan {
    float: right;
}

.kanan p {
    color:#dbdad6;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 22px 30px 0 5px;
}

@media (max-width:1000px) {
    .hobi-hobiku {
        flex-wrap: wrap;
    }

    .hobi {
        width:50%;
    }

    .txt {
        margin: 20px 0 50px 0;
    }
    
}

@media (max-width:670px) {
    .hobi-hobiku {
        flex-direction: column;
    }

    .hobi {
        margin:0 auto;
    }

    .txt {
        margin: 20px 0 60px 0;
    }

    .list-header li {
        display: none;
    }
}
