@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* header */
header {
    background-color: black;
    color:white;
    height: 65px;
    width: 100%;
    position: fixed;
    top:0;
    z-index:10;
}

.logo {
    float: left;
    line-height: 65px;
    padding: 0px 40px;
    font-weight: 800;
    cursor: default;
}

.list-header {
    float: left;
}

.list-header ul li {
    display: inline;
}

.list-header ul li a {
    color: #dbdad6;
    padding: 7px 15px;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 15px;
    line-height: 65px;
    cursor: pointer;
}

.list-header ul li a:hover {
    background-color:#dbdad6;
    transition: 0.5s;
    color: #202020;
    font-weight: bold;
}

/* container atas*/

.wrap-container {
    width:100%;
    margin:0 auto;
}

.container-atas {
    background-color: #202020;
    padding: 120px 0 75px 0;
    color: ghostwhite;
    text-align: center;
    width: 100%;
}

.container-atas h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:900;
    font-size: 60px;
}

.container-atas span {
    color: crimson;
}

.foto-ryan {
    border-radius: 30px;
    margin: 25px 0 0 0;
    width: 250px;
}

.wadah-1 {
    margin:0 auto;
    width: 530px;
    font-size: 15px;
    padding: 10px 0 0 0;
}

.wadah-1 p {
    display: inline-block;
    width: 100%;
}

.foto-text p {
    position: relative;
    top: -50px;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px #202020;
    font-size: 14px;
}

/* container tengah */
.container-tengah {
    background-color: #dbdad6;
    text-align: center;
    padding-bottom: 70px;
}

.heading h1 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -2px;
    padding: 70px 0 10px 0;
}

.heading p {
    width:500px;
    margin:0 auto;
    padding: 0 0 40px 0
}

.hobi img {
    width: 120px;
}

.hobi-hobiku {
    display: flex;
}

.hobi {
    flex:auto;
}

.txt {
    margin: 20px 0 0 0;
    font-size: 20px;
}

/* container tengah 2 */
.container-tengah2 {
    background-color: #75746d;
    text-align: center;
    padding: 50px 0px;
}

.tombol {
    display: inline-block;
    padding: 10px 5px;
    background-color: #dbdad6;
    border-radius: 4px;
    margin:0 25px;
    color: #202020;
    width: 250px;
    font-weight: bold;
    cursor: pointer;
}

.tombol:hover {
    background-color: #bbb9b4f5 ;
}

.tombol:active {
    background-color: #fffb00;
}


.container-tengah2 h1 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px 0 15px 0;
}

/* container bawah */
.container-bawah {
    background-color: #202020;
    text-align: center;
    padding: 50px 0 70px 0;
}

.container-bawah h1 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -2px;
    padding: 20px 0 20px 0;
    color: #dbdad6;
}


.btn {
    display: inline-block;
    padding: 10px 5px;
    background-color: #dbdad6;
    border-radius: 4px;
    margin:15px;
    color: #202020;
    width: 200px;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 #f9c056;
    transition: ease-out 0.3s;
}

.btn:hover {
    box-shadow: inset 200px 0 0 0 #f9c506;
}

.instagram {
    background-color: #C73568  ;
}

.facebook {
    background-color: #4B69B1;
}

.youtube {
    background-color: #E83F3A;
}

.twitter {
    background-color: #37B1E2;
}

.fab {
    margin-right: 7px;
}


/* footer */
footer {
    height: 65px;
    background-color: black;
    width: 100%;
    font-family: serif;
}

footer div {
    text-align: center;
}

footer div p {
    color: #dbdad6;
    line-height: 65px;
}
